@page
@model AdminAddGameModel
@{
}


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" asp-page="/ShowGames">Games</a>
    <a class="navbar-brand" asp-page="/ShowConsoles">Consoles</a>
    <a class="navbar-brand text-right" asp-page="/AdminAddGame">Admin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<form method="post">

    <input type="text" asp-for="@Model.Name" placeholder="Namn" />
    Pris(kr) <input type="number" asp-for="@Model.Price" placeholder="Pris" />
    Aldersgräns <input type="text" asp-for="@Model.AgeRestriction" placeholder="Åldersgräns" />
    <input type="text" asp-for="@Model.Platform" placeholder="Platform tex. Xbox 360, Playstation 4, Nintendo DS" />
    <input type="text" asp-for="@Model.Description" placeholder="Beskrivning" />
    <input type="text" asp-for="@Model.Stock" placeholder="Lagerstatus" />
    <input type="text" asp-for="@Model.Genre" placeholder="Genre" />
    <input type="text" asp-for="@Model.ReleaseDate" placeholder="Releasedatum" />
    <input class="box-shadow" type="text" asp-for="@Model.Studio" placeholder="Studio" />
    <input type="text" asp-for="@Model.CriticScore" placeholder="Betyg" />
    <input type="text" asp-for="@Model.ImageURL" placeholder="Omslagsbild (URL)" />

    <button class="btn primary" type="submit" asp-route-addToPendingList="true">Lägg till i lista</button>

</form>


<div method="post">


    <button class="btn success" type="submit" asp-route-mergeLists="true">Slutför tillägg</button>

</div>

@*@foreach (var AddedGames in Model.AdminAddGame)
{

    <div class="card mx-auto row" style="width: 18rem;">
        <img class="card-img-top img-thumbnail " src="@game.ImageURL" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title ">@game.Name</h4>
            <p>@game.Description</p>
            <h5> Pris: @game.Price Kr</h5>
        </div>
    </div>*@