@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<form method="post">

    <input type="text" asp-for="@Model.Name" placeholder="Battlefield 4" /> @*Den tar fel Name, vi vill ta name från Game model klasen*@

</form>

<button class="btn success" type="submit">Lägg till</button>

@* TEST, hela övre biten kod skall igentligen ligga inne på AdminAddGame pagen *@


<div class="text-center">
    <h1 class="display-4">Welcome to EC-Shop</h1>
    <img src="https://t4.ftcdn.net/jpg/03/20/69/93/360_F_320699362_M758ZpSkReSsz3sMxJS6FeZ3eSyMPspc.jpg" />
</div>




@foreach (var game in Model.Games)
{
    <div class="card mx-auto row" style="width: 18rem;">
        <img class="card-img-top img-thumbnail " src="@game.ImageURL" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title ">@game.Name</h4>
            <p>@game.Description</p>
            <h5> Pris: @game.Price Kr</h5>
        </div>
    </div>


}
<from method-"post">
    <input type="text" asp-for="@Model.Name" placegolder="Name" />
</from>